<html lang="en-us">
	<head>
		<title>{% block title %}Photon Data Collector{% endblock %}</title>
		<link href="/css/shift.css" rel="stylesheet">
		<link href="/css/bootstrap.css" rel="stylesheet">
		<link href="/css/report.css" rel="stylesheet">
		<!-- link rel="stylesheet" type="text/css" href="/django_static/admin/css/base.css" />
		<link rel="stylesheet" type="text/css" href="/django_static/admin/css/forms.css" / -->
		<script type="text/javascript">window.__admin_media_prefix__ = "/django_static/admin/";</script>

		<script type="text/javascript" src="/dracoserver/admin/jsi18n/"></script>
		<script type="text/javascript" src="/django_static/admin/js/core.js"></script>
		{{ form.media }}
	</head>

<body>
		<div class="report">
			{% block main_container %}{% endblock %}
		</div>
</body>
</html>
