<!--google-analytics tracking code -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-68799712-1', 'auto');
  ga('send', 'pageview');
</script>
<!--google-analytics tracking code -->

{% extends "base.html" %}
{% load humanize %}
{% block title %}Telemetry Data Report{% endblock %}
{% block main_container %}

<script src="/js/getUptime.js"></script>

<div class="container">

<table style="width:100%">
<tr>
<td style="text-align:center"><h2>Telemetry Report - {{source_name}}</h2></td>
</tr>
</table>
<br>

<!-- Banner division that contains "Probe Status" data in a table, centered on the screen -->
<div class="center", style="margin: auto; width: 90%; border-style: solid; border-width: 1px; border-radius: 5px; border-color: #f7f7f7">
    <table border="0", style="width:100%; margin-left:auto; margin-right:auto; text-align:center">
      <tr>
        <td><th colspan="6", style="text-align:center">PROBE STATUS</th></td>
        <td><div id="status",style="text-align:right"></div></td>
      </tr>
        <tr>
            <td>Last Entry: </td><td><span class="dataValue">{{ latest_reading_date|date:"M j, Y H:i:s" }}</span></td>
            <td>Readings: </td><td><span id="readingCountSlot" class="dataValue">0</span></td>
            <td>Uptime: </td><td><span class="dataValue" id="uptimeSlot">00:00:00&nbsp;(hh:mm:ss)</span></td>
        </tr>
    </table>
  </div>
<!-- Banner division that contains "Probe Status" data in a table, centered on the screen -->

<br><br>
<div class="center", style="margin: auto; width: 80%">
<div class="row">
    <div class="col-md-6">
    <table border="0">
        <tr><th colspan="2">Live Probe Data</th></tr>
    <tr><td>Temperature:&nbsp;&nbsp;<span class="dataValue" id="tempSlot">0.0&deg;</span></td><td>&nbsp;</td></tr>
    <tr><td>Humidity:&nbsp;&nbsp;<span class="dataValue" id="hmdSlot">0.0%</span></td><td>&nbsp;</td></tr>
    <tr><td>Restart Counter:&nbsp;&nbsp;<span class="dataValue" id="counterSlot">0&nbsp;times</span></td><td>&nbsp;</td></tr>
    <tr><td>Lci1 Reading:&nbsp;&nbsp;<span class="dataValue" id="lci1Slot">no data</span></td><td>&nbsp;</td></tr>
    <tr><td>Lci2 Reading:&nbsp;&nbsp;<span class="dataValue" id="lci2Slot">no data</span></td><td>&nbsp;</td></tr>
    </table>
  </div>

  <div class="col-md-6">
    <table border="0", style="width:60%">
  	<tr>
  		<td>&nbsp;</td>
  		<th colspan="2">Last 48 hours</th>
  		<th colspan="2">All time stats</th>
  	</tr>

  		<tr>
  			<td>&nbsp;</td><td>Lowest</td><td>Highest</td><td>Lowest</td><td>Highest</td>
  		</tr>
  			<tr><th style="font-weight: bold">Temperature</th>
  				<td><span class="dataValue">{{ recent_min_temperature|floatformat:1 }}&deg;</span></td>
  				<td><span class="dataValue">{{ recent_max_temperature|floatformat:1 }}&deg;</span></td>
  			      	<td><span class="dataValue">{{ min_temperature|floatformat:1 }}&deg;</span></td>
  	    			<td><span class="dataValue">{{ max_temperature|floatformat:1 }}&deg;</span></td>
  			</tr>

  			<tr>
  				<th style="font-weight: bold">Humidity</th>
  				<td><span class="dataValue">{{ recent_min_humidity|floatformat:1 }}%</span></td>
  				<td><span class="dataValue">{{ recent_max_humidity|floatformat:1 }}%</span></td>
  				<td><span class="dataValue">{{ min_humidity|floatformat:1 }}%</span></td>
  				<td><span class="dataValue">{{ max_humidity|floatformat:1 }}%</span></td>
  			</tr>
  	</table>
  </div>
</div>
</div>
<br>
<hr>
<a href="/index.html", style="position: relative; left: 20px">Go Back</a>
<p>&nbsp;</p>
</div>
<div class="more-data">
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/js/status.js"></script>

{% endblock %}
